main {
    flex-basis: 56%;
    font-style: italic;
}

/* Перша секція */
.bio-section {
    height: auto;
    margin: 0;
    margin-bottom: 40px;
}

.bio-section__info {
    display: flex;
}

.bio-section__text {
    margin: 0;
    margin-left: 35px;
    margin-right: 50px;
    color: #734B34;
    font-size: 18px;
    text-align: justify;
}

/* Друга секція */
.books-section {
    margin-bottom: 40px;
}

.books-section__item-title {
    margin-left: 35px;
}

.books-section__item-text {
    margin-right: 50px;
    margin-left: 95px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    color: #A98262;
    font-size: 18px;
}

/* Третя секція */
.events-section {
    margin-bottom: 40px;
}

.events-section__meet-title, .events-section__magic-title {
    margin-left: 35px;
}

.events-section__meet, .events-section__magic {
    display: flex;
    margin-bottom: 40px;
}

.events-section__meet-text, .events-section__magic-text {
    margin: 0;
    margin-left: 35px;
    margin-right: 50px;
    text-align: justify;
    color: #A98262;
    font-size: 18px;
}

.events-section__magic-image_2 {
    margin-right: 30px;
}

.events-section__magic-image_1 {
    margin-right: 20px;
}

/* Четверта секція */
.contacts-section {
    text-align: center;
}

.contacts-section__response {
    margin-bottom: 40px;
}

.contacts-section__info {
    color: #A98262;
    font-size: 18px;
    margin: 0;
}

.contacts-section__info--feedback {
    color: #734B34;
    opacity: 90%;
    font-size: 14px;
    margin: 0;
    margin-top: 50px;
}

@media(max-width: 992px) {
    .bio-section__text, .books-section__item-title, .events-section__meet-title, .events-section__magic-title, .events-section__meet-text, .events-section__magic-text {
        margin-left: 0;
    }
    
    .bio-section__text, .events-section__meet-text, .events-section__magic-text, .books-section__item-text {
        margin-right: 20px;
    }

    .bio-section__image, 
    .events-section__meet-image, 
    .events-section__magic-image_1, 
    .events-section__magic-image_2 {
        object-fit: cover;
    }
    
    .books-section__item-text {
        margin-left: 30px;
    }
}

@media(max-width: 768px) {
    .bio-section__info, .events-section__meet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bio-section__image, 
    .events-section__meet-image {
        margin-top: 10px;
    }
}

@media(max-width: 460px) {
    main {
        flex-basis: 100%;
    }

    .bio-section__text, 
    .events-section__meet-text, 
    .events-section__magic-text {
        margin-right: 0px;
    }

    .bio-section__image, 
    .events-section__meet-image, 
    .events-section__magic-image_1, 
    .events-section__magic-image_2 {
        display: none;
    }
}
